body {
    margin: 0;
    padding: 0;
}

.user-list {
    min-height: 350px;
    max-width: 700px;
    margin: 15px auto 0;
}

.btn-cursor {
    cursor: pointer;
    margin-left: 10px;
}

.footer-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}